@keyframes grow-padding-right {
    from {
      padding-right: 0;
    }
  }
  @keyframes grow-padding-left {
    from {
      padding-left: 0;
    }
  }
  h1 {
    text-align: center;
  }
  
  
  .style-1 {
    list-style-type: none;
    padding: 0;
  }
  .style-1 li {
    position: relative;
    left: 42%;
    font-weight: bold;
    color: white;
    width: 300px;
    background: #DC3545;
    margin-bottom: 4px;
    border-radius: 2px;
  }
  .style-1 em {
    font-style: normal;
    position: relative;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    width: 90px;
    padding: 8px;
    left: -80px;
    border-radius: 2px;
    animation: grow-padding-right 1s;
  }
  .style-1 span {
    float: right;
    padding: 8px;
  }
  
 